{% macro chefs(name, class, chefs, pagination) %}

  <section class="container">

    <div class="recipe_sub-title">
      <p>
        <strong>
          {{ name }}
        </strong>
      </p>

      <div class="item_new-recipes">
        <a class="item_button" href="/admin/chefs/create">Novo chef</a>
        <a class="item_button" href="/admin/chefs/gerenciar">Gerenciar chefs</a>
      </div>
    </div>

    <div class="cards_gerenciar-chefs {{ class }}">

      {% for chef in chefs %}
        <div class="item_card-gerenciar-chef" id="{{ chef.title }}">

          <div class="item_img-card-chef">
            <img style="width:100%;" src="{{ chef.img }}" alt="">
          </div>

          <div>
            <div class="item_card-content">
              <p>{{ chef.name }}</p>
            </div>

            <div>
              <a href="/chefs/{{ chef.id }}">Visualizar</a>
            </div>
          </div>

        </div>
      {% endfor %}

    </div>

  </section>
  <div class="container pagination-container">
    <div class="pagination" data-page="{{ pagination.page }}" data-total="{{ pagination.total_chefs }}">
    </div>
  </div>
{% endmacro %}