<script src="/js/createClone.js"></script>
<script src="/js/pagination.js"></script>
<script src="/js/photosUpload.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/toggles.js"></script>

