<div class="item">
  <div>Imagem do usúario</div>

  <div class="photos-upload">
    <input id="photos-input" type="file" name="photos" multiple="multiple" accept="image/*" onchange="PhotosUpload.handleFileInput(event)">
  </div>

  <div class="photos-upload__preview">
    <div class="photo-add">
      <i class="material-icons" style="color:#777;">add</i>
    </div>

    {% if files %}
      {% for image in files %}
        <div class="photo" id="{{ image.id }}">
          <img src="{{ image.src }}" alt="{{ image.name }}">
          <i class="material-icons" onclick="PhotosUpload.removeOldPhoto(event)">close</i>
        </div>
      {% endfor %}

      <input type="hidden" name="removed_files">
    {% endif %}

  </div>
</div>


<div class="input-group">

  <div class="item">
    <div>Nome</div>

    <div>
      <input type="text" name="name" value="{{ user.name }}" placeholder="Dígite o nome completo"/>
    </div>
  </div>

  <div class="item">
    <div>Email</div>

    <div>
      <input type="email" name="email" value="{{ user.email }}" placeholder="Dígite o email" onblur="validate.apply(this, 'isEmail')"/>

    </div>
  </div>
</div>

<div class="input-group">

  <div class="item">

    <div>Senha</div>

    <div>
      <input 
        type="password" 
        name="password" 
        placeholder="Dígite sua senha"
      >
    </div>
  </div>
</div>