button,
.item_button {

  box-sizing: border-box;
  background: var(--color-purple);
  color: var(--color-white);

  padding: 8px 8px;
  cursor: pointer;

  border: none;
  border-radius: 4px;
}

button:hover,
.item_button:hover {
  filter: brightness(125%);
}
.item_new-recipes {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  margin: 8px 0px;
}
.item_new-recipes .item_button{
  margin-left: 5px;
}