/* PAG SOBRE */
.main_sobre h1 {
  color: var(--color-black);
  font-weight: bold;

  margin: 16px auto;
}

.main_sobre p {
  text-align: justify;
  color: var(--color-black-light);
 
  letter-spacing: 1px;
  line-height: 1.2em;
  
  margin: 8px 0;
}