/* list chefs */
.card__chefs {
  position: relative;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;

  padding: 15px 0px;
}

.card__profile {
  
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
  justify-content: center;

  gap: 15px;


  .card__image img {
    position: relative;

    width: 100%;
    height: 60px;
    border-width: 3px;

    object-fit: cover;
    object-position: center center;

    border-style: solid;
    border-color: #7159c1;
    border-radius: 50%;
  }

  .card__content {
    font-weight: bold;
  }
  .card__info {
    word-break: break-all;
    color: var(--color-gray);
  }
}

@media (max-width: 600px) {
  .card__chefs {
    width: 280px;
    margin: 0 auto;
    grid-template-columns: repeat(1, 1fr);
    
  }
  .card__info {
    padding-bottom: 10px;
  }
}

/* SHOW CHEFS */
.highlight_chef {
  display: flex;
  align-items: center;
  justify-content: center;
}
.highlight_chef img {
  width: 220px;
  height: 220px;

  object-fit: cover;

  border-radius: 50%;
}
