/* WRAPPER */
.wrapper {
  display: grid;
  align-items: center;
  justify-content: space-around;

  grid-template-columns: 300px 250px;
  grid-gap: 5px;
  
  margin: 24px auto;
  padding: 16px 0;

  background-color: var(--color-wrapper-bg);
  border-radius: 15px;

  .wrapper_text {
    justify-self: center;
    text-align: start;

    color: var(--color-gray-dark);
    font-size: 1.2em;
    
    h1 {
      font-weight: 700;
      font-size: 1.4em;
      color: var(--color-black);
    }
  }

  .image {
    align-items: center;
    justify-self: center;
  }

}

@media (max-width: 600px) {
  .wrapper {
    display: grid;
    grid-template-columns: 250px;
    justify-content: center;
  }
}


.cards {
  h1 {
    font-weight: bold;
  }
}