*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  outline: 0;

  text-decoration: none;
  list-style: none;
}

:root {
  --color-white: #ffffff;
  --color-gray: #999999;
  --color-gray-dark: #777777;
  --color-black: #111111;
  --color-black-light: #444444;
  --color-delete: rgb(235, 137, 137);
  --color-purple: #6558c3;

  --color-wrapper-bg: #fbdfdb;
  --color-footer-bg: #eeeeee;

  --font-size-14px: 0.875em;
  --font-size-18px: 1.125em;
  --font-size-24px: 1.5em;
  --font-size-36px: 36px;

  --space-20px: 1.25rem;
  --space-30px: 1.88rem;
}

.fontezero {
  font-size: 0em;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
body {
  display: flex;
  flex-direction: column;

  background-color: var(--color-white);
  font-size: 16px;
  color: var(--color-black);
}

img {
  max-width: 100%;
}
a {
  text-decoration: none !important;
}

/* FOOTER */
footer {
  background: #eeeeee;
  color: var(--color-gray);
  margin-top: auto;

  text-align: center;
  padding: 20px 0;
}

/* button e inputs */
input,
select {
  box-sizing: border-box;
  background: #ffffff;

  border: 1px solid #dddddd;
  border-radius: 4px;
  border-radius: 4px;

  padding: 8px;
  margin: 0;
}
textarea {
  width: 100%;
  resize: vertical;
  min-height: 140px;

  border: 1px solid #dddddd;

  padding: 16px 24px;
  line-height: 24px;
}

.item {
  position: relative;
}
.item #photos-upload {
  position: absolute;

  width: 100%;
  max-width: 160px;
  height: 150px;

  opacity: 0;
  z-index: 100;

  cursor: pointer;
}

.item .photo-upload__send {
  width: 100%;
  min-height: 150px;
  
  display: grid;
  align-items: center;
  justify-content: center;
  
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
.item .photo-upload__send .photo {
  width: 100%;
  min-height: 150px;
  border: 1px solid #dddddd;

}

.item .photo-upload__send i {
  font-size: 32px;
}

.item .photo-upload__send .photo {
  display: flex;
  align-items: center;
  justify-content: center;
}
button,
.item_button {
  box-sizing: border-box;
  background: var(--color-purple);
  color: var(--color-white);

  padding: 10px 10px !important;
  cursor: pointer;

  border: none;
  border-radius: 4px;
  border-radius: 4px;
}

button:hover,
.item_button:hover {
  filter: brightness(125%);
}
.item_new-recipes {
  /* button para se cadastrar */
  display: flex;
  align-items: flex-end;
  justify-content: space-between !important;
}

/* PAGINAÇÃO */
.pagination-container {
  display: grid;
  align-items: end;

  margin-top: 30%;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 10px;
}
.pagination a,
.pagination span {
  box-sizing: border-box;
  padding: 7px 9px;

  border-radius: 10px;

  background-color: var(--color-purple);
  color: var(--color-footer-bg);
  margin-right: 5px;
}
.pagination a:hover {
  filter: brightness(125%);
}


@media (max-width: 740px){
  header {
    padding: 10px 0px;
  }
  .main_logo img{
    height:30px;
  }
  nav.main_menu {
    visibility: hidden;
  }
  .one, .two,
  .three {
    width: 100%;
    height: 5px;
    margin: 6px auto;

    top: 0;
  
    background-color: #ffffff;
    transition-duration: 0.3s;

  }
  .menu-toggle {
    position: absolute;
    top: 25px;
    right: 20px;
    
    width: 40px;
    height: 30px;
    
    margin-right: 20px;

  }

  .menu-section.on {
    position: absolute;

    top: 0;
    left: 0;
    
    width: 100vw;
    height: 100vh;
    
    z-index: 100;
    
    background-color: var(--color-purple);
  }

  .menu-section.on .main_menu ul {
    font-size: 20px;

    visibility: visible;
    color: var(--color-gray);

    display: block;
    text-align: center;
  
    margin: 10px auto;
  }

  .menu-section.on .menu-toggle {
    position: absolute;
    top: 25px;
    right: 20px;
  } 

  .menu-section.on .menu-toggle .one{
    transform: rotate(45deg) translate(11px, 7px);
  }
  .menu-section.on .menu-toggle .two {
    opacity: 0;
  }
  .menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(9px, -4px);
  }

  .menu-section.on nav ul {
    text-align: center;
    display: block;
  }

  .menu-section.on nav ul a {
    display: block;
    transition-duration: 0.5s;
    font-size: 2rem;
    line-height: 4rem;

    color: var(--color-wrapper-bg);
  }
}