@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  list-style: none;
}

:root {
  --color-white: #ffffff;
  --color-gray: #999999;
  --color-gray-dark: #777777;
  --color-black: #111111;
  --color-black-light: #444444;
  --color-delete: rgb(235, 137, 137);
  --color-purple: #6558c3;
  --color-wrapper-bg: #fbdfdb;
  --color-footer-bg: #eeeeee;
  --font-size-14px: 0.875em;
  --font-size-18px: 1.125em;
  --font-size-24px: 1.5em;
  --font-size-36px: 36px;
  --space-20px: 1.25rem;
  --space-30px: 1.88rem;
}

html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  font-size: 1em;
  color: var(--color-black);
  -webkit-font-smoothing: antialiased;
}

p {
  font-size: 1em;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none !important;
}

::-webkit-scrollbar {
  background-color: #7159c1;
}

::-webkit-scrollbar-track {
  color: red;
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: #2c2055;
  border-radius: 3.5px;
  height: 2px;
}

.flex-center, .session_forms .session_buttons, .session_forms, .header_login, .header__group, header .header__menu .item-filtro, header .header__menu form .modal, .message {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  border: 2px solid #dc4747;
  border-radius: 3.5px;
  color: #ffff;
}

/* CONTAINER AND BREAKPOINTS */
.container, header .header__menu {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* BREAKPOINT 576px */
@media (max-width: 600px) {
  .container, header .header__menu {
    max-width: 540px;
  }

  .cards_gerenciar-chefs {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }

  .form-recipe {
    grid-template-columns: 1fr;
  }

  .item_menu-cadastro {
    display: none;
  }

  /* PAG SOBRE */
  .main_sobre {
    margin: 10px;
    padding: 20px;
  }

  .main_sobre h1 {
    color: var(--color-black);
    font-weight: bold;
    margin: 3vh auto;
  }

  .main_sobre p {
    text-align: justify;
    color: var(--color-black-light);
    margin-bottom: 5vh;
  }
}
.recipe_content.recipe_info {
  font-size: var(--font-size-14px);
}

/* BREAKPOINT 768px */
@media (max-width: 740px) {
  .container, header .header__menu {
    max-width: 720px;
  }

  .item-filtro {
    opacity: 0;
    display: none;
  }
}
/* BREAKPOINT 992px */
@media (min-width: 62em) {
  .container, header .header__menu {
    max-width: 960px;
  }
}
/* BREAKPOINT 1200px */
@media (min-width: 75em) {
  .containe-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}
.button {
  background: var(--color-purple);
  color: var(--color-white);
  text-align: center;
  font-size: 0.9em;
  max-width: 100%;
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: all 250ms ease-in-out;
}
.button:hover {
  filter: brightness(125%);
}
.button.cancel {
  background-color: #8A8A8A;
}
.button.delete {
  background-color: #DC4747;
}
.button.logout {
  border-radius: 50%;
  background-color: #1e1c25;
  color: red;
}

/* button e inputs */
.item select,
.item input {
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  border-radius: 4px;
  padding: 12px 16px;
  margin: 0;
}

textarea {
  width: 100%;
  resize: vertical;
  min-height: 140px;
  border: 1px solid #dddddd;
  padding: 16px 24px;
  line-height: 24px;
  overflow: hidden;
}

/* FORMULARIOS DA RECEITAS */
.item {
  margin: 16px 0;
}
.item div {
  font-weight: bold;
  font-size: 1em;
  margin: 10px 0;
}
.item span {
  filter: brightness(400%);
}

.input-group {
  display: flex;
  flex: wrap;
  justify-content: space-between;
}
.input-group .item {
  max-width: 100%;
  width: 435px;
}

@media (max-width: 600px) {
  .input-group {
    display: flex;
    flex-wrap: wrap;
  }
  .input-group .item {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .input-group {
    display: flex;
    flex-wrap: wrap;
  }
  .input-group .item {
    width: 100%;
  }
}
.message {
  position: fixed;
  width: 324px;
  height: 90px;
  border-radius: 4px;
  z-index: 99999;
  font-size: 1em;
  padding: 12px;
  text-align: center;
  top: 1em;
  right: 1em;
  animation: messageload 3s 6s ease-in-out forwards;
}
.message::after {
  content: "";
  position: absolute;
  background-color: #DDDDDD;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -2px;
  animation: messageload 6s ease-in-out forwards;
}
.message.error {
  background-color: #dc4747;
  color: #ffff;
}
.message.success {
  background-color: #01b12a;
  color: #ffff;
}

@keyframes messageload {
  from {
    right: 1em;
  }
  to {
    width: 0;
    right: -200em;
    visibility: hidden;
  }
}
header {
  background-color: var(--color-black);
}
header .header__menu {
  display: flex;
  align-items: center;
  padding: 10px 15px;
}
header .header__menu .main_logo img {
  cursor: pointer;
}
header .header__menu .menu-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}
header .header__menu .menu-section .main_menu {
  flex: 1;
  margin-left: 8px;
}
header .header__menu .menu-section .main_menu ul {
  display: flex;
  align-items: center;
  font-size: 18px;
}
header .header__menu .menu-section .main_menu ul a {
  position: relative;
  margin: 0 8px;
  color: #777777;
}
header .header__menu .menu-section .main_menu ul a.active {
  font-weight: bold;
  color: var(--color-footer-bg);
}
header .header__menu .menu-section .main_menu ul a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0px;
  bottom: -4px;
  background-color: var(--color-footer-bg);
}
header .header__menu .menu-section .main_menu a:hover::after {
  width: 100%;
  filter: brightness(115%) !important;
  transition: width 250ms ease-in-out;
}
header .header__menu .profile {
  color: #fff;
}
header .header__menu .profile .card__profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header__menu .profile .card__profile .card__image img {
  width: 45px;
  height: 45px;
  margin-right: 5px;
}
header .header__menu .profile .card__profile .button {
  width: 45px;
  height: 45px;
  padding: 0;
}
header .header__menu form {
  position: relative;
}
header .header__menu form button:hover .modal {
  opacity: 1;
  visibility: visible;
}
header .header__menu form .modal {
  position: absolute;
  font-weight: bold;
  font-size: 12px;
  top: 55px;
  left: -40px;
  background-color: #2f2c3a;
  color: var(--color-white);
  text-align: center;
  width: 125px;
  height: 35px;
  border-radius: 3.5px;
  transition: all 300ms ease-in-out;
  opacity: 0;
  visibility: hidden;
}
header .header__menu form .modal::before {
  content: " ";
  position: absolute;
  top: -18px;
  left: 52px;
  height: 0;
  width: 0;
  pointer-events: none;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 10px outset transparent;
  border-bottom: 10px solid #2f2c3a;
}
header .header__menu .item-filtro {
  max-width: 250px;
  justify-content: space-between;
  padding: 6px 0;
}
header .header__menu .item-filtro input {
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 3.5px;
  padding: 8px 16px;
  margin-right: 4px;
}
header .header__menu .item-filtro .button {
  padding: 8px 16px;
}

.header__group {
  justify-content: space-between;
  margin: 10px 0 30px 0px;
}

@media (max-width: 740px) {
  header .header__menu .item-filtro,
header .header__menu .profile {
    display: none;
  }

  .header__group .button {
    width: 129px;
  }

  /* MENU RESPONSIVO */
  .header__menu {
    padding: 8px 0px;
  }

  .main_logo img {
    height: 30px;
  }

  nav.main_menu {
    visibility: hidden;
  }

  .one,
.two,
.three {
    width: 100%;
    height: 3px;
    margin: 6px auto;
    top: 0;
    background-color: #ffffff;
    transition-duration: 0.3s;
  }

  .menu-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 40px;
    height: 30px;
    margin-right: 20px;
    cursor: pointer;
  }

  .menu-section.on {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: var(--color-purple);
    filter: opacity(99%);
  }

  .header__menu .menu-section.on .main_menu ul {
    font-size: 20px;
    visibility: visible;
    color: var(--color-gray);
    display: block;
    text-align: center;
    margin: 10px auto;
  }

  .menu-section.on .menu-toggle {
    position: absolute;
    top: 25px;
    right: 20px;
  }

  .menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(9px, 2px);
  }

  .menu-section.on .menu-toggle .two {
    opacity: 0;
  }

  .menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(10px, -4px);
  }

  .menu-section.on nav ul {
    text-align: center;
    display: block;
  }

  .menu-section.on nav ul a {
    display: block;
    transition-duration: 0.5s;
    font-size: 2rem;
    /* aumentando a letra */
    line-height: 4rem;
    color: var(--color-wrapper-bg);
  }
}
/* FOOTER */
footer {
  background: #eeeeee;
  color: var(--color-gray);
  font-size: 0.9em;
  margin-top: auto;
  text-align: center;
  padding: 1.2em 0;
}

/* cards das receitas */
.main_cards {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 1.8%;
  margin-bottom: 2%;
}
.main_cards .card {
  display: grid;
  transition: all 100ms ease;
}
.main_cards .card:hover {
  transform: translateY(-3px) scale(1.03);
}
.main_cards .card .card a {
  padding: 20px;
  text-align: center;
}
.main_cards .card .img_card img {
  width: 100% !important;
  height: 90px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 15px;
}
.main_cards .card .card__content {
  font-weight: bold;
}
.main_cards .card .card__content.card_info {
  font-weight: 700;
  font-size: var(--font-size-18px);
  color: var(--color-black);
}
.main_cards .card .card__info {
  font-size: var(--font-size-14px);
  color: var(--color-gray);
}

@media (max-width: 600px) {
  .main_cards {
    grid-template-columns: 1fr;
  }
}
/* Upload de Images na criação e update de receitas  */
.item div {
  margin: 5px 0px;
}
.item .photos-upload {
  position: relative;
  display: grid;
}
.item #photos-input {
  position: absolute;
  max-width: 100%;
  max-width: 150px;
  height: 150px;
  margin: 0;
  opacity: 0;
  z-index: 1000;
  cursor: pointer;
  top: 30px;
}
.item .photos-upload__preview {
  display: grid;
  align-content: center;
  grid-template-columns: repeat(6, 1fr);
  gap: 8px;
  margin-left: 0;
  grid-template-columns: repeat(6, 1fr);
}
.item .photo-add,
.item .photo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 150px;
  height: 150px;
  margin-left: 0;
  cursor: pointer;
  border: 1px solid #dddddd;
  border-radius: 3.5px;
}
.item .photo-add i,
.item .photo i {
  font-size: 30px;
}
.item .photo img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.item .photo i {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 150px;
  height: 150px;
  background-color: rgba(101, 88, 195, 0.6);
  color: var(--color-footer-bg);
  opacity: 0;
  transition: opacity 0.5s;
}
.item .photo i:hover {
  opacity: 1;
}

/* FORMULARIO CHEFS */
.photos-upload-chefs {
  position: relative;
}

#photos {
  position: absolute !important;
  opacity: 0;
  width: 100%;
  max-width: 137px;
  height: 37px;
}

@media (max-width: 600px) {
  /* UPLOAD IMG */
  .item #photos-upload {
    max-width: 110px;
  }
  .item .photos-upload__preview {
    grid-template-columns: repeat(3, 1fr);
  }
  .item #photos-input {
    width: 105px;
    height: 150px;
    top: 20px;
  }
}
/* PAGINAÇÃO */
.pagination-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: auto;
}

.pagination {
  position: absolute;
  bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination a,
.pagination span {
  box-sizing: border-box;
  font-size: 1.2em;
  padding: 8px 16px;
  border-radius: 3.5px;
  background-color: var(--color-purple);
  color: var(--color-footer-bg);
  margin-right: 5px;
}

.pagination a:hover {
  filter: brightness(125%);
}

/* WRAPPER */
.wrapper {
  display: grid;
  align-items: center;
  justify-content: space-around;
  grid-template-columns: 300px 250px;
  grid-gap: 5px;
  margin: 24px auto;
  padding: 16px 0;
  background-color: var(--color-wrapper-bg);
  border-radius: 15px;
}
.wrapper .wrapper_text {
  justify-self: center;
  text-align: start;
  color: var(--color-gray-dark);
  font-size: 1.2em;
}
.wrapper .wrapper_text .title {
  font-weight: 700;
  font-size: 1.4em;
  color: var(--color-black);
}
.wrapper .image {
  align-items: center;
  justify-self: center;
}

@media (max-width: 600px) {
  .wrapper {
    display: grid;
    grid-template-columns: 250px;
    justify-content: center;
  }
}
/* PAG RECIPE */
.show {
  text-align: center;
}

/* imagem das receitas */
.highlight img {
  width: 100%;
  max-width: 940px;
  height: 280px;
  cursor: pointer;
  object-fit: cover;
  object-position: 50% 50%;
  margin: 20px auto;
  border-radius: 15px;
}

/* show */
.highlight .lightbox {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.5s;
}

.highlight .lightbox .lightbox-target img {
  position: absolute;
  width: 90%;
  height: 90%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  object-fit: contain;
  cursor: initial;
  border-radius: 3.5px;
}

.lightbox .lightbox-target .close-lightbox {
  position: absolute;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6558c3;
  border-radius: 3px;
  color: #ffff;
  right: 10px;
  cursor: pointer;
  top: -80px;
  transition: top 2s;
}

/* PREVIEW DE IMAGES */
.gallery .gallery-preview {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.gallery .gallery-preview img {
  width: 100%;
  max-width: 50px;
  height: 50px;
  object-fit: cover;
  margin-left: 5px;
  border-radius: 3.5px;
  border: 1px solid #dddddd;
  cursor: pointer;
  opacity: 0.5;
}

.gallery .gallery-preview img.active-image {
  opacity: 1;
}

/* titulo da receita */
.show__title p {
  color: var(--color-black);
  font-size: 1.2em;
  font-weight: 700;
}

.show__info {
  font-size: 1em;
  color: var(--color-gray);
}

/* ingredientes */
.recipe_head {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.recipe_head h1 {
  font-weight: 700;
  font-size: 1.3em;
}

.recipe_head button {
  background: transparent;
  border: none;
  color: var(--color-gray);
  outline: none;
}

.recipe_content {
  opacity: 0;
  visibility: hidden;
  height: 0;
  top: -100%;
  transition: all 250ms;
}

.recipe_content.active {
  position: relative;
  overflow: auto;
  opacity: 1;
  visibility: visible;
  top: 0;
  height: 10vh;
  margin: 5px auto;
}

/* lightbox */
.recipes_gallery .ligthbox {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  top: -100%;
  left: 0;
  z-index: 100;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ligthbox .lightbox-target img {
  position: absolute;
  width: 90%;
  height: 90%;
  margin: auto;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  background-color: var(--primary-color);
  object-fit: contain;
}

.ligthbox-target img {
  position: absolute;
  left: 0;
}

/* list chefs */
.card__chefs {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  padding: 15px 0px;
}

.card__profile {
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.card__profile .card__image img {
  position: relative;
  width: 100%;
  height: 60px;
  border-width: 3px;
  object-fit: cover;
  object-position: center center;
  border-style: solid;
  border-color: #7159c1;
  border-radius: 50%;
}
.card__profile .card__content {
  font-weight: bold;
}
.card__profile .card__info {
  word-break: break-all;
  color: var(--color-gray);
}

@media (max-width: 600px) {
  .card__chefs {
    width: 280px;
    margin: 0 auto;
    grid-template-columns: repeat(1, 1fr);
  }

  .card__info {
    padding-bottom: 10px;
  }
}
/* SHOW CHEFS */
.highlight_chef {
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlight_chef img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 50%;
}

/* PAG SOBRE */
.main_sobre h1 {
  color: var(--color-black);
  font-weight: bold;
  margin: 16px auto;
}

.main_sobre p {
  text-align: justify;
  color: var(--color-black-light);
  letter-spacing: 1px;
  line-height: 1.2em;
  margin: 8px 0;
}

.header_login {
  padding: 16px 0;
  background-color: white;
}

.session_forms {
  flex-direction: column;
  margin: 9.9% auto;
}
.session_forms form {
  max-width: 450px;
  width: 100%;
}
.session_forms form input {
  width: 100%;
  font-size: 16px;
  padding: 8px 16px;
}
.session_forms .session_buttons {
  justify-content: space-between;
  margin: 30px 0;
  font-size: 1em;
}
.session_forms .session_buttons a {
  transition: all 200ms ease-in-out;
  color: var(--color-gray);
}
.session_forms .session_buttons a:hover {
  filter: brightness(25%);
}
.session_forms .session_buttons .button {
  padding: 8px 32px;
}

/*# sourceMappingURL=main.css.map */
