:root {
  --color-white: #ffffff;
  --color-gray: #999999;
  --color-gray-dark: #777777;
  --color-black: #111111;
  --color-black-light: #444444;
  --color-delete: rgb(235, 137, 137);
  --color-purple: #6558c3;

  --color-wrapper-bg: #fbdfdb;
  --color-footer-bg: #eeeeee;

  --font-size-14px: 0.875em;
  --font-size-18px: 1.125em;
  --font-size-24px: 1.5em;
  --font-size-36px: 36px;

  --space-20px: 1.25rem;
  --space-30px: 1.88rem;
}

/* HEADER */
header {
  background-color: var(--color-black);
}

header div:first-child {
  display: flex;
  align-items: center !important;

  background-color: var(--color-black);

  padding: 15px;
}

.main_logo img {
  flex: 1;
  cursor: pointer !important;
}

.main_menu {
  flex: 1;
}

.main_menu a {
  position: relative;
  font-size: 18px;
  color: var(--color-gray);

  margin: auto 10px;
}

.main_menu a::after {
  content: "";
  position: absolute;

  width: 0%;
  height: 2px;

  left: 0px;
  bottom: -4px;

  background-color: var(--color-footer-bg);
}

.main_menu a:hover::after,
.item_menu-cadastro:hover {
  width: 100%;
  filter: brightness(115%) !important;

  transition: width 250ms ease-in-out;
}

a.active {
  font-weight: bold;
  color: var(--color-footer-bg);
}

/* WRAPPER */
.wrapper {
  max-width: 100% !important;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  background-color: var(--color-wrapper-bg);

  margin: 3vh auto;
  border-radius: 30px;
}

.wrapper_text h1 {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 10px;
  color: var(--color-black);
}

.wrapper_text {
  justify-self: center;
  max-width: 320px;
  opacity: 0.7;
  font-family: Roboto-Regular;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-gray-dark);
}

.wrapper .image {
  max-width: 100%;
  background: url("/public/assets/chef.png");
  text-align: center;
  padding-top: 8%;
}

/* REVENUE(cards das receitas) */
.main_cards {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 1.8%;
}

.card {
  display: grid;

  transition: all 100ms ease;
}

.card:hover {
  transform: translateY(-3px) scale(1.03);
}

.img_card img {
  width: 100% !important;

  cursor: pointer;
  border-radius: 15px;
}

.img_card a {
  padding: 0 !important;
}

.card_content.card_info {
  font-weight: 700;
  font-size: var(--font-size-18px);
  color: var(--color-black);
}

.card_info {
  font-size: var(--font-size-14px);
  color: var(--color-gray);
}

.card a {
  padding: 20px;
  text-align: center;
}

/* pag gerenciar */
.cards_gerenciar {
  display: grid;
  align-items: center;
  justify-content: center;

  gap: 20px;

  grid-template-columns: 1fr 1fr;
  margin-top: 1.8%;
}

.item_card-gerenciar {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 10px;

  padding: 20px auto;
  transition: all 100ms ease;
}

.item_img-card img {
  width: 100% !important;
  height: 100% !important;

  cursor: pointer;
  border-radius: 10px;
}

.item_card-content.item_card-info {
  padding-bottom: 20px;

  font-weight: 700;
  font-size: var(--font-size-18px);
  color: var(--color-black);
}

.item_card-info {
  grid-column: 2;
  padding-bottom: 20px;

  font-size: var(--font-size-14px);
  color: var(--color-gray);
}

.item_card-gerenciar div:last-child a {
  display: grid;
  justify-content: start !important;
}

/* PAG RECIPE */
.recipes {
  text-align: center;
}

.wrapper_recipe img {
  margin: 20px auto;
  border-radius: 15px;
}

.recipe_title p {
  color: var(--color-black);
  font-size: var(--font-size-36px);
  font-weight: 700;
}

.recipe_info {
  font-size: var(--font-size-18px);
  color: var(--color-gray);
}

/* ingredientes */
.recipe_head {
  display: flex;
  margin: 1.6% auto;
}

.recipe_head h1 {
  font-weight: 700;
  font-size: var(--font-size-24px);
}

.recipe_head button {
  background: transparent;
  border: none;
  color: var(--color-gray);
}

.recipe_content {
  display: none;

  opacity: 0;
  visibility: hidden;
}

.recipe_content.active {
  display: block;

  opacity: 1;
  visibility: visible;
}

/* CADASTRO DE RECEITA */
.item div {
  font-weight: bold;
  font-size: 14px;
  margin: 10px auto;
}
.item span {
  filter: brightness(400%);
}
.item_form-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-right: 0;
}
.item_form-menu h3 {
  margin: 20px auto;
}
.form-recipe input,
select {
  width: 100%;
  padding: 15px auto;
}
.header-form-edit,
.header-form-edit h3 {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr repeat(2, 100px);

  gap: 5px;
  margin: 20px auto;
}


/* Gereciando chefs */
.cards_gerenciar-chefs {
  position: relative;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 15px 10px;
}
.item_card-gerenciar-chef {
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;

  gap: 15px;
  margin: 10px;
}
.item_card-gerenciar-chef img {
  position: relative;

  width: 100%;
  height: 60px;
  border-width: 3px;

  border-style: solid;
  border-color: rgb(113, 89, 193);
  border-radius: 50%;
}
/* WRAPPER IMG */
.wrapper_chef img {
  width: 220px;
  height: 220px;

  background-size: cover;

  border-radius: 50%;
}


/* CONTAINER AND BREAKPOINTS */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* BREAKPOINT 576px */
@media (max-width: 600px) {
  .main_menu {
    display: flex;
    flex-wrap: wrap;
  }
  .item-filtro {
    display: none;
  }
  .header-form-edit,
  .header-form-edit h3 {
    /* formulário */
    grid-template-columns: 120px 1fr 1fr;

    grid-gap: 10px;
  }
  .cards_gerenciar-chefs {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }
  .form-recipe {
    grid-template-columns: 1fr;
  }

  .item_menu-cadastro {
    display: none;
  }

  .container {
    max-width: 540px;
  }

  .modal {
    width: 100%;
  }

  footer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .wrapper {
    justify-content: center;
    width: 400px;
    grid-template-columns: 1fr;
    padding-top: 10px;
  }

  .wrapper_text {
    max-width: 250px;
  }

  .main_cards {
    grid-template-columns: 1fr;
  }

  /* PAG SOBRE */
  .main_sobre {
    margin: 10px;
    padding: 20px;
  }

  .main_sobre h1 {
    color: var(--color-black);
    font-weight: bold;

    margin: 3vh auto;
  }

  .main_sobre p {
    text-align: justify;
    color: var(--color-black-light);

    margin-bottom: 5vh;
  }
}

.recipe_content.recipe_info {
  font-size: var(--font-size-14px);
}

/* BREAKPOINT 768px */
@media (min-width: 48em) {
  .container {
    max-width: 720px;
  }
}

/* BREAKPOINT 992px */
@media (min-width: 62em) {
  .container {
    max-width: 960px;
  }
}

/* BREAKPOINT 1200px */
@media (min-width: 75em) {
  .containe-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

/* MODAL */
.modal_overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.modal {
  position: relative;
  text-align: center;
  background-color: white;
  border-radius: 16px;
  width: 30%;
  height: 45%;
  margin: 25vh auto;
}

.modal .close-modal {
  position: absolute;
  cursor: pointer;
  bottom: 0;
  right: 0;
  left: 0;
}

.modal_img img {
  max-width: 100%;
  padding: 10px;
}

.modal_content p {
  font-weight: 700;
  flex-wrap: wrap;
}

.modal_overlay.active {
  opacity: 1;
  visibility: visible;
}

/* PAG SOBRE */
.main_sobre {
  margin: 10px auto;
  padding: 20px;
}

.main_sobre h1 {
  color: var(--color-black);
  font-weight: bold;

  margin: 3vh auto;
}

.main_sobre p {
  text-align: justify;
  color: var(--color-black-light);

  margin-bottom: 5vh;
}
