{% extends 'index.njk' %}

{% block css %}
  <link rel="stylesheet" href="/stylesheet/show.css">
{% endblock css %}

{% block head %}
  <title>{{ recipe.title }}
    - Foodfy</title>
{% endblock %}

{% block content %}
  <section class="recipes container">
    <div class="recipe_sub-title">
      <p>
        <strong>Receita:
          {{ recipe.title }}</strong>
      </p>

      <a class="item_button" href="/admin/recipes/{{ recipe.id }}/edit">Editar Receita</a>
    </div>

    <div class="gallery">
      <div class="highlight">
        <img class="highlight-image" src="{{ files[0].src }}" 
        alt="{{ files[0].name }}"
        onclick="LightBox.open()" 
        >

        <div class="lightbox">
          <div class="lightbox-target">
            <img src="{{ files[0].src }}" alt="{{ files[0].name }}">

            <a href="#" class="close-lightbox" 
            onclick="LightBox.close()"
            >
              <i class="material-icons">close</i>
            </a>
          </div>
        </div>

      </div>

      <div class="gallery-preview">
      
        {% for image in files %}
          <img src="{{ image.src }}" alt="{{ image.name }}" {% if loop.index0 == 0 %} class="active-image" {% endif %} onclick="ImageGallery.setImage(event)" >
        {% endfor %}

      </div>
    </div>

    <div>
      <div class="title_show">
        <p>{{ recipe.title }}</p>
      </div>
      <div class="recipe_info">
        <p>{{ recipe.chef_name }}</p>
      </div>
    </div>

  </section>

  <div class="container">
    <article class="recipe_section">
      <div class="recipe_head">
        <h1>Ingredientes</h1>
        <button>Esconder</button>
      </div>
      <div class="recipe_content active">
        <ul>
          {% for recipes in recipe.ingredients %}
            <li class="">{{ recipes }}</li>
          {% endfor %}
        </ul>
      </div>

    </article>
    <article class="recipe_section">
      <div class="recipe_head">
        <h1>Modo de Preparo</h1>
        <button class="button">Esconder</button>
      </div>
      <div class="recipe_content active">
        <ul>

          {% for recipes in recipe.preparation %}
            <li class="">{{ recipes }}</li>
          {% endfor %}

        </ul>
      </div>
    </article>
    <article class="recipe_section ">
      <div class="recipe_head">
        <h1>Informações Adicionais</h1>
        <button class="button">Esconder</button>
      </div>
      <div class="recipe_content active">
        <p>{{recipe.information }}</p>

      </div>
    </article>
  </div>
{% endblock %}

{% block script %}
  <script src="/recipe.js"></script>
{% endblock %}