{% extends "index.njk" %}

{% block content %}

    <section class="cards_gerenciar-chefs">

      {% for chef in chefs %}
        <div class="item_card-gerenciar-chef" id="{{ chef.title }}">

          <div class="item_img-card-chef">

            <a href="/users/{{ chef.id }}">
              <img src="{{ chef.img }}" alt="">
            </a>

          </div>

          <div>
            <div class="item_card-content">
              <p>{{ chef.name }}</p>
            </div>

            <div class="item_card-info">
              <p>{{ chef.total_receipts }}
                Receitas</p>
            </div>
          </div>

        </div>
      {% endfor %}

    </section>

    <div class="pagination-container">
      <div class="pagination" 
      data-page="{{ pagination.page }}" 
      data-total="{{ pagination.total_chefs }}"
      ></div>
    </div>

{% endblock content %}