{% extends "index.njk" %}

{% block content %}
  <section class="form-recipe container">
    <form class="details" method="POST" action="/admin/recipes" enctype="multipart/form-data">

      <div class="header__group">
        <div>
          <h3>Criando Receita</h3>
        </div>

        <div>
          <button class="button" type="submit">
            Salvar receita
          </button>
        </div>
      </div>

      {% include "./field.njk" %}

    </form>
  </section>

{% endblock content %}