{% extends "index.njk" %}

{% block content %}

  <section class="form-recipe container">

    <form class="details" method="POST" action="/admin/recipes?_method=PUT" enctype="multipart/form-data">

      <div class="header__group">
        <div>
          <h3>Editar receita</h3>
        </div>

        <div>
          <button class="button delete" type="submit" form="formDelete">
            Deletar
          </button>

          <button class="button" type="submit">
            Salvar
          </button>
        </div>
      </div>

      {% include "./field.njk" %}

      <input type="hidden" name="id" value="{{ recipe.id }}">
      {# para encontrar o id colocamos em um input escondido #}
    </form>

    <form id="formDelete" method="POST" action="/admin/recipes?_method=DELETE">
      <input type="hidden" name="id" value="{{ recipe.id }}">
    </form>

  </section>

{% endblock content %}