{% extends 'index.njk' %}

{% block content %}

  <section>
    <form action="/admin/users" method="POST" enctype="multipart/form-data">

      <div class="header__group">
        <div>
          <h3>Criar Usúario</h3>
        </div>

        <div>
          <button type="submit" class="button">Salvar</button>
          <a href="/" class="button cancel">Cancelar</a>
        </div>
      </div>

      {% include "./field.njk" %}

    </form>
  </section>

{% endblock content %}