.message {
  position: fixed;

  @extend .flex-center;

  width: 324px;
  height: 90px;

  border-radius: 4px;
  z-index: 99999;

  font-size: 1em;
  padding: 12px;
  
  text-align: center;

  top: 1em;
  right: 1em;

  animation: messageload 3s 6s ease-in-out forwards;

  &::after {
    content: "";

    position: absolute;
    background-color: #DDDDDD;

    width: 100%;
    height: 4px;

    left: 0;
    bottom: -2px;

    animation: messageload 6s ease-in-out forwards;

  }

  &.error {
    background-color: #dc4747;
    color: #ffff;
  }

  &.success {
    background-color: #01b12a;
    color: #ffff;
  }
}

@keyframes messageload {
  from {
    right: 1em;
  }
  to {
    width: 0;
    right: -200em;
    visibility: hidden;
  }
}