<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block head %}
      <title>Foodfy - As Melhores Receitas!</title>
    {% endblock %}
    
    <!-- IMPORTS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">
    <!-- CLASSE PAI -->
    <link rel="stylesheet" href="/stylesheet/main.css">
    {# GLOBAL CSS #}
    <link rel="stylesheet" href="/stylesheet/global.css">
  </head>
  <body>

    {% include "part/header.njk" %}

    {% block content %}{% endblock %}

    {% include "part/footer.njk" %}
  </body>
</html>