* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  
  box-sizing: border-box ;
  
  font-family: "Roboto", sans-serif;

  text-decoration: none;
  list-style: none;
}

:root {
  --color-white: #ffffff;
  --color-gray: #999999;
  --color-gray-dark: #777777;
  --color-black: #111111;
  --color-black-light: #444444;
  --color-delete: rgb(235, 137, 137);
  --color-purple: #6558c3;

  --color-wrapper-bg: #fbdfdb;
  --color-footer-bg: #eeeeee;

  --font-size-14px: 0.875em;
  --font-size-18px: 1.125em;
  --font-size-24px: 1.5em;
  --font-size-36px: 36px;

  --space-20px: 1.25rem;
  --space-30px: 1.88rem;
}

html,
body {
  min-height: 100vh;
}
body {
  display: flex;
  flex-direction: column;

  background-color: var(--color-white);
  font-size: 1em;
  color: var(--color-black);

  
  -webkit-font-smoothing: antialiased;
}
p {
  font-size: 1em;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none !important;
}

// editando scrollbar;
::-webkit-scrollbar {
  background-color: #7159c1;
}

::-webkit-scrollbar-thumb {
  background: #2c2055;
  border-radius: 3.5px;
  height: 2px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  border: 2px solid #dc4747;
  border-radius: 3.5px;
  color: #ffff;
}


/* CONTAINER AND BREAKPOINTS */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* BREAKPOINT 576px */
@media (max-width: 600px) {
  .container {
    max-width: 540px;
  }
  .cards_gerenciar-chefs {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }
  .form-recipe {
    grid-template-columns: 1fr;
  }

  .item_menu-cadastro {
    display: none;
  }

  /* PAG SOBRE */
  .main_sobre {
    margin: 10px;
    padding: 20px;
  }

  .main_sobre h1 {
    color: var(--color-black);
    font-weight: bold;

    margin: 3vh auto;
  }

  .main_sobre p {
    text-align: justify;
    color: var(--color-black-light);

    margin-bottom: 5vh;
  }
}

/* BREAKPOINT 768px */
@media (max-width: 740px) {
  .container {
    max-width: 720px;
  }
  .item-filtro{
    opacity: 0;
    display: none;
  }
}

/* BREAKPOINT 992px */
@media (min-width: 62em) {
  .container {
    max-width: 960px;
  }
}

/* BREAKPOINT 1200px */
@media (min-width: 75em) {
  .containe-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}