{% extends "index.njk" %}

{% block inputSeach %}
    {% include "./input-chefs.njk" %}
{% endblock inputSeach %}

{% block content %}
    <section class="form-recipe container" >
        <form action="/chefs" method="POST" enctype="multipart/form-data">
            <div class="header__group">
                <div>
                    <h3>Criando chef</h3>
                </div>

                <div>
                    <button
                    class="button"
                    type="submit"
                    >
                    Salvar chef
                    </button>
                </div>
            </div>    
        
           {% include "././field.njk" %}
            
        </form>
    </section>

{% endblock content %}