<form class="item-filtro" action="/chefs" method="GET">
    <input 
    type="text" 
    name="filter" 
    placeholder="Buscar uma receita" 
    value="{{filter}}">
    <button class="button" type="submit">
        Buscar
    </button>
</form>